services:
  cloudflare-ddns:
    image: oznu/cloudflare-ddns:latest
    restart: always
    environment:
      API_KEY: ${API_KEY}
      ZONE: alexaz.dev
      PROXIED: false

  frontend:
    build: ./frontend
    expose: 
      - "3000"

  db:
    image: postgres:18
    ports:
      - "5434:5432"
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - eneba_data:/var/lib/postgresql

  backend:
    build: ./backend
    expose:
      - "8000"
    depends_on:
      - db
  
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
    ports:
      - "443:443"
    depends_on:
      - frontend

volumes:
  eneba_data: