services:
  backend:
    image: rust:1.91
    working_dir: /app
    ports:
      - "8001:8000"
    volumes:
      - "./backend:/app"
    command: tail -f /dev/null
  
  frontend:
    image: node:latest
    working_dir: /app
    ports:
      - "3001:3000"
    volumes:
      - "./frontend:/app"
    command: tail -f /dev/null

  db:
    image: postgres:18
    ports:
      - "5434:5432"
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - eneba_data:/var/lib/postgresql

  nginx:
     image: nginx:alpine
     volumes:
       - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
       - ./nginx/certs:/etc/nginx/certs
     ports:
       - "80:80"
       - "443:443"
     depends_on:
       - frontend

volumes:
  eneba_data: