.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: none;
    transition: 1s;
    inset: 0;
}

.modal[data-active="true"]{
    backdrop-filter: blur(10);
    z-index: 20;
    pointer-events: all;
}

.navBtn{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 150px;
    height: 50px;
    font-size: 20;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.351);
    cursor: pointer;
    transition: 0.5s;
    z-index: 1000 !important;
    pointer-events: all;
}

.navBtn[data-active="true"]{
    width: 50px;
    height: 50px;
    font-size: 30;
    background-color: red;
    color: var(--text_col);
}

.navBtn:hover{
    transform: scale(1.05);
}

.inputGrp{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputWrapper{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.inputWrapper .inputGrp{
    width: 40%;
    flex-shrink: 0;
    flex-grow: 0;
}

.inputGrp label{
    font-size: 18;
    font-weight: 700;
}

.selectGrp{
    display: flex;
    gap: 20px;
}

.selectGrp h2{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    padding: 2px;
}

.selectGrp img{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    padding: 2px
}

.selectGrp h2[data-active="true"]{
    border: yellow 2px solid;
}

.selectGrp img[data-active="true"]{
    border: yellow 2px solid;
}

.form img{
    width: 50px;
}

.form{
    position: absolute;
    height: 60vh;
    aspect-ratio: 1/1;
    background-color: var(--item_bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--text_col);
    transform: translateY(-150%);
    transition: 1s;
}

.form input{
    width: 100%;
    height: 40px;
    font-size: 17;
    font-weight: 600;
    padding-left: 10px;
}

.form button{
    background-color: yellow;
    width: 200px;
    height: 40px;
    border: none;
    color: black;
    font-size: 20;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.372);
    cursor: pointer;
    transition: 0.5s;
}

.form button:hover{
    transform: scale(1.05);
}

.form[data-active="true"]{
    transform: translateY(0%);
}

.fileDiv{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fileBtn{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px yellow solid;
    color: var(--text_col);
    font-size: 18;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.fileBtn:hover{
    background-color: yellow;
    color: black;
}

.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type="number"] {
  -moz-appearance: textfield;
}